/* -- MAIN */
main {
    padding: 3rem var(--window-padding);
    animation: mainanimation 3s ease-out 0.5s 1 none normal;
}
@keyframes mainanimation {
    from {transform: translateX(30em);}
    to {transform: translateX(0em);}
}
/* -- MAIN -- DESCUENTO */
section#descuentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#descuentos h1 {
    font-weight: 300;
    font-size: 2rem;
    padding: 0 0;
    margin: 0 0;
}
section#descuentos h1 strong {
    font-weight: 500;
    color: var(--primary-color)
}
section#descuentos h2 {
    padding: 0 0;
    margin: 1em 0;
}
section#descuentos img {
    width: 500px;    
    height: auto;
}
/* END -- MAIN -- DESCUENTO */

/* -- MAIN -- PRODUCTOS */
h2.productos {
    text-align: center;
    margin: 1.5em 0 3em;
}
h2.productos span {
    border-bottom: 2px solid var(--primary-color);
    padding: 0.4em 1em;
}
#productos {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
#productos article {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 290px;
    box-shadow: 3px 7px 8px rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);
}
#productos article:hover {
    opacity: 0.7;
    cursor: pointer;
}
#productos article h3,
#productos article p {
    text-align: center;
}
#productos article h3 {
    font-weight: 500;
    margin: 11rem 0 1em;
    color: #333;
}
#productos article p {    
    margin: 0;
    font-weight: 300;
    color: #444;    
}
#productos article a {    
    font-weight: 400;
    padding-top: 2em;
    color: var(--primary-color);
    align-self: flex-end;
}
#productos article.hipotecario {
    background-image: url(../img/productos/hipotecario.png);
    background-size: 100%;
    background-position-y: -110px;    
}
#productos article.cta-cte {
    background-image: url(../img/productos/cuenta-cte.jpg);
    background-size: 100%;
    background-position-y: 0px;    
}
#productos article.soap {
    background-image: url(../img/productos/soap.jpg);
    background-size: 100%;
    background-position-y: -65px;
}
#productos article.dap {
    background-image: url(../img/productos/dap.jpg);
    background-size: 100%;
    background-position-y: -20px;
    background-position-x: 50%;
}
#productos article.seguro-auto {
    background-image: url(../img/productos/seguro-automotriz.jpg);
    background-size: 100%;
    background-position-y: 0px;
    background-position-x: 0%;
}
/* END -- MAIN -- PRODUCTOS */
/* -- END MAIN */