@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
    /* --primary-color: #fbb03b; */
    --primary-color: #dd852f;
    /* --secondary-color: #8c52ff; */
    --secondary-color: #3c00b3;
    --window-padding: 10em;
}

/* RESET */
body, header, ul, li {margin: 0; padding: 0;}

/* STYLES */
body {
    min-height: 200vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
}
header img {
    height: 8vh;    
}
header {
    position: fixed; /* sticky */
    width: 100%; /* for sticky */
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}
header > nav:nth-child(1) {
    flex-basis: 100%; 
    background: black;
    display: flex; 
    justify-content: space-between;
    padding: 0.4em 0;    
}
header > nav:nth-child(1) ul {
    display: flex;
    list-style: none;
    gap: 1em;
}
header > nav:nth-child(1) a img {
    fill: white;
}
header > nav:nth-child(1) a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300;
}
header > nav:nth-child(3) {
    display: flex;
    gap: 1em;
}
header > nav:nth-child(3) a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: normal;    
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.4em 2em;
}
header > nav:nth-child(3) a:hover {
    background-color: var(--secondary-color);    
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    header > nav:nth-child(1) {
        padding-left: var(--window-padding);
        padding-right: var(--window-padding);
    }
    header img {
        margin-left: var(--window-padding);
    }    
    header > nav:nth-child(3) {
        padding: 0 var(--window-padding);
    }
}
.icon {
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.icon svg {    
    width: 1em;
    height: auto;
    fill: white;
}
.slide {
    display: flex;
    justify-content: center;
    background-image: url(../img/shape-1.png), url(../img/colegas.jpg); 
    background-repeat: no-repeat;
    background-size: 500px, cover;
    background-position: right top;
    min-height: 70vh; 
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: normal, luminosity;

}
.slide img {
    max-width: 2400px;
    max-height: 70vh;
}
main {
    padding-top: 50vh;
}

